<!doctype html>
<head>
  <title> 管理员控制台 </title>
  <link rel=stylesheet type=text/css href="/static/style.css">
  <!--bootstrap-->
  <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="main-page">
    <h1>学生档案管理系统</h1>
    <div class="navigation">
      {% if not session.logged_in %}
        <button type="button" class="btn btn-link"><a href="{{ url_for('admin_login') }}" target="_blank">管理员登录</a></button>
        {% else %}
        <button type="button" class="btn btn-link"><a href="{{ url_for('logout') }}">退出登录</a></button>
        {% endif %}
        <button type="button" class="btn btn-link"><a href="{{ url_for('add_data') }}" target="_blank">添加学生档案</a></button>
        <button type="button" class="btn btn-link"><a href="{{ url_for('delete_data') }}" target="_blank">删除学生档案</a></button>
        <button type="button" class="btn btn-link"><a href="{{ url_for('update_data') }}" target="_blank">修改学生信息</a></button>
        <button type="button" class="btn btn-link"><a href="{{ url_for('search_data') }}" target="_blank">查询学生信息</a></button>

    </div>
      <table class="stu_table">
            <tr><th>学号</th><th>姓名</th><th>性别</th><th>手机</th><th>生日</th><th>地址</th></tr>

                {% for data in all_data %}

                <tr>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.gender}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.birthdate}}</td>
                <td>{{data.address}}</td>
                </tr>

            {% endfor %}
    </table>

    <div class="footer">
       安徽农业大学经济技术学院网络一班
    </div>
  </div>
</body>
</html>
